@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Kanit", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #191d1d;
  color: #fff;
}
.lock body {
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.none {
  display: none !important;
}

.btn {
  font-family: Kanit;
  letter-spacing: 0.43rem;
  padding: 0.4375rem 1.9375rem;
  border-radius: 6.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: 0.0625rem solid #6d7d7d;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.title {
  font-family: Kanit;
  font-size: 2.5rem;
}
@media (min-width: 73.125em) {
  .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 1.875rem , 1.6397058824rem  +  1.1764705882vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.6397058824rem  +  1.1764705882vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.6397058824rem  +  1.1764705882vw , 2.5rem )) {
    .title {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }
}

.text {
  font-family: Nunito;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
@media (max-width: 61.99875em) {
  .header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__logo {
  display: block;
  font-family: Kanit;
  color: #fff;
  letter-spacing: 0.43rem;
  position: relative;
  z-index: 5;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  z-index: 5;
}
@media (min-width: 120em) {
  .header__button {
    padding-left: 1.9375rem;
  }
}
@media (min-width: 62em) and (max-width: 120em) {
  @supports (padding-left: clamp( 1.25rem , 0.5150862069rem  +  1.1853448276vw , 1.9375rem )) {
    .header__button {
      padding-left: clamp( 1.25rem , 0.5150862069rem  +  1.1853448276vw , 1.9375rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , 0.5150862069rem  +  1.1853448276vw , 1.9375rem )) {
    .header__button {
      padding-left: calc(1.25rem + 0.6875 * (100vw - 62rem) / 58);
    }
  }
}
@media (max-width: 62em) {
  .header__button {
    padding-left: 1.25rem;
  }
}
@media (min-width: 120em) {
  .header__button {
    padding-right: 1.9375rem;
  }
}
@media (min-width: 62em) and (max-width: 120em) {
  @supports (padding-right: clamp( 1.25rem , 0.5150862069rem  +  1.1853448276vw , 1.9375rem )) {
    .header__button {
      padding-right: clamp( 1.25rem , 0.5150862069rem  +  1.1853448276vw , 1.9375rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , 0.5150862069rem  +  1.1853448276vw , 1.9375rem )) {
    .header__button {
      padding-right: calc(1.25rem + 0.6875 * (100vw - 62rem) / 58);
    }
  }
}
@media (max-width: 62em) {
  .header__button {
    padding-right: 1.25rem;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (min-width: 120em) {
  .menu__list {
    -webkit-column-gap: 3.4375rem;
       -moz-column-gap: 3.4375rem;
            column-gap: 3.4375rem;
  }
}
@media (min-width: 62em) and (max-width: 120em) {
  @supports ((-moz-column-gap: clamp( 1.875rem , 0.2047413793rem  +  2.6939655172vw , 3.4375rem )) or (column-gap: clamp( 1.875rem , 0.2047413793rem  +  2.6939655172vw , 3.4375rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.875rem , 0.2047413793rem  +  2.6939655172vw , 3.4375rem );
         -moz-column-gap: clamp( 1.875rem , 0.2047413793rem  +  2.6939655172vw , 3.4375rem );
              column-gap: clamp( 1.875rem , 0.2047413793rem  +  2.6939655172vw , 3.4375rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.875rem , 0.2047413793rem  +  2.6939655172vw , 3.4375rem )) or (column-gap: clamp( 1.875rem , 0.2047413793rem  +  2.6939655172vw , 3.4375rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.875rem + 1.5625 * (100vw - 62rem) / 58);
         -moz-column-gap: calc(1.875rem + 1.5625 * (100vw - 62rem) / 58);
              column-gap: calc(1.875rem + 1.5625 * (100vw - 62rem) / 58);
    }
  }
}
@media (max-width: 62em) {
  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
.menu__link {
  color: #fff;
  display: inline-block;
  padding-bottom: 0.15625rem;
  position: relative;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.75rem;
  }
}
.menu__link::after {
  position: absolute;
  content: "";
  height: 0.0625rem;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  width: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__link:hover::after {
  left: 0;
  width: 100%;
}

@media (max-width: 47.99875em) {
  .header {
    background-color: #fff;
  }
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.125rem;
    position: relative;
    z-index: 5;
    margin-left: 1.5625rem;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: -100%;
    top: 0;
    padding-top: 7.5rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 4.375rem;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }
  .menu__list {
    row-gap: 0.625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .menu__link {
    font-size: 1.75rem;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
}
@media (max-width: 500px) {
  .header__button {
    padding: 0.4375rem 1.9375rem;
  }
}
.hero {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__container {
  padding-top: 6.875rem;
  padding-bottom: 4.25rem;
  width: 100%;
  position: relative;
  z-index: 2;
}
.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.hero__content {
  padding-top: 10rem;
}
.hero__title {
  margin-bottom: 0.625rem;
}
.hero__text {
  margin-bottom: 2.625rem;
}
.hero__video-link {
  width: 4.3125rem;
  height: 4.3125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.3125rem;
          flex: 0 0 4.3125rem;
  border-radius: 50%;
}
.hero__image {
  position: absolute;
  width: 100%;
  height: 43.0625rem;
  top: 0;
  left: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}