//==================================================================================
//========================================================================================

.footer {
	// .footer__footer-bg
	&__footer-bg {
	}
	// .footer__footer-bg-contact
	&__footer-bg-contact {
	}
	// .footer__copy-right
	&__copy-right {
	}
}

// ++++++++++++++++++++++++++++++++++++++++++++
.footer-bg {
	padding-top: toRem(127);
	padding-bottom: toRem(68);
	@include adaptiveValue("padding-top", 127, 30);
	@include adaptiveValue("padding-bottom", 68, 20);
	background-color: #131616;
	// .footer-bg__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(30);
		@media (max-width: toRem(540)) {
			flex-direction: column;
			row-gap: toRem(20);
		}
	}
	// .footer-bg__menu
	&__menu {
	}
	// .footer-bg__logo
	&__logo {
		display: block;
		font-family: Kanit;
		color: #fff;
		letter-spacing: toRem(6.88);
		position: relative;
		z-index: 5;
	}
}
// ++++++++++++++++++++++++++++++++++++++++++++
.menu-bg {
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 55, 30, 0, 1920, 992);
		row-gap: toRem(5);
		align-items: center;
		justify-content: start;
		@media (max-width: toRem(540)) {
			column-gap: toRem(55);
			row-gap: toRem(10);
			justify-content: center;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		// красивое подчеркивание при hover
		display: inline-block;
		padding-bottom: toRem(2.5);
		position: relative;
		&::after {
			position: absolute;
			content: "";
			height: toRem(1);
			background-color: #fff;
			bottom: 0;
			left: 50%;
			width: 0;
			transition: all 0.3s;
		}
		&:hover::after {
			left: 0;
			width: 100%;
		}
	}
}
// ++++++++++++++++++++++++++++++++++++++++++++
.footer-bg-contact {
	@include adaptiveValue("padding-top", 197, 30);
	@include adaptiveValue("padding-bottom", 158, 30);
	background-color: #131616;
	// .footer-bg-contact__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(30);
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .footer-bg-contact__item
	&__item {
	}
	// .footer-bg-contact__social
	&__social {
		display: flex;
		column-gap: toRem(20);
		@media (max-width: $mobile) {
			margin-bottom: toRem(20);
		}
	}
	// .footer-bg-contact__linkn
	&__link {
		flex: 0 0 toRem(36);
		height: toRem(36);
		fill: rgba(217, 217, 217, 0.00);
		border: toRem(1) solid #6D7D7D;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: border 0.3s ease 0s;
		&:hover {
			border: toRem(1) solid rgba(255, 255, 255, 1);
		}
	}
	// .footer-bg-contact__text
	&__text {
		max-width: toRem(480);
		text-align: right;
		@media (max-width: $mobile) {
			text-align: center;
			line-height: 1.5;
		}
	}
}
// ++++++++++++++++++++++++++++++++++++++++++++++
.copy-right {
	@include adaptiveValue("padding-top", 51, 25);
	@include adaptiveValue("padding-bottom", 48, 25);
	background-color: #191d1d;
	// .copy-right__container
	&__container {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(30);
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: toRem(20);
			text-align: center;
		}
	}
	// .copy-right__text
	&__text {
		font-family: Nunito;
		line-height: 1.2;
	}
	// .copy-right__terms-privacy
	&__terms-privacy {
		display: flex;
		justify-content: space-between;
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}
	// .copy-right__list
	&__list {
		display: flex;
		column-gap: toRem(92);
		@include adaptiveValue("column-gap", 92, 30, 0, 1170, 768);
	}
	// .copy-right__item
	&__item {
		letter-spacing: toRem(6.88);
	}
	// .copy-right__link
	&__link {
	}
}
