//====================================================================================================
.page {
	// .page__hero
	&__hero {
	}
	// .page__about
	&__about {
	}
	// .page__creativity
	&__creativity {
	}
	// .page__team
	&__team {
	}
	// .page__clients
	&__clients {
	}
	// .page__design
	&__design {
	}
	// .page__gallery
	&__gallery {
	}
	// .page__blog
	&__blog {
	}
	// .page__newsletter
	&__newsletter {
	}
}
//====================================================================================================
// .page__hero
.hero {
	// min-height: 100vh;
	min-height: toRem(700);
	position: relative;
	// display: flex;
	// .hero__container
	&__container {
		// height: toRem(689);
		padding-top: toRem(110);
		// padding-bottom: toRem(236);
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 2;
	}
	// .hero__row
	&__row {
		display: flex;
		height: 100%;
		position: relative;
	}
	// .hero__item-btn
	&__item-btn {
		flex: 0 1 50%;
		height: 100%;
		align-items: flex-end;
		@media (max-width: $mobile) {
			flex: 0 1 30%;
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 20%;
		}
	}
	// .hero__item
	&__item {
		flex: 0 1 50%;
		@media (max-width: $mobile) {
			flex: 0 1 70%;
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 80%;
		}
	}
	// .hero__btn
	&__btn {
		// вертикальный текст
		// http://shpargalkablog.ru/2012/09/vertical-text.html
		min-inline-size: 88%; /* вместо min-height: 10em; */
		text-align: start; /* перевёрнутый текст по середине высоты */
		writing-mode: vertical-lr;
		transform: scale(-1);
	}
	// .hero__button
	&__button {
		display: inline-block;
		font-family: Kanit;
		letter-spacing: toRem(6.88);
	}
	// .hero__content
	&__content {
		padding-top: toRem(160);
	}
	// .hero__title
	&__title {
		margin-bottom: toRem(10);
	}
	// .hero__text
	&__text {
		margin-bottom: toRem(42);
	}
	// .hero__video-link
	&__video-link {
		width: toRem(69);
		height: toRem(69);
		flex: 0 0 toRem(69);
		border-radius: 50%;
	}
	// .hero__image
	&__image {
		position: absolute;
		width: 100%;
		// height: toRem(689);
		height: 100%;
		top: 0;
		left: 0;
		flex-shrink: 0;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
//=========================================================================================
//=========================================================================================
// .about__
.about {
	@include adaptiveValue("padding-top", 100, 30);
	@include adaptiveValue("padding-bottom", 50, 30);
	// 	padding-bottom: toRem(25);
	// .about__container
	&__container {
	}
	// .about__info
	&__info {
		max-width: toRem(953);
		&:not(:last-child) {
			margin-bottom: toRem(19);
			@include adaptiveValue("margin-bottom", 75, 30);
		}
	}
	// .about__subtitle
	&__subtitle {
		text-align: left;
		@include adaptiveValue("font-size", 16, 14);
		@media (max-width: $mobile) {
			margin-bottom: toRem(5);
		}
	}
	// .about__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(19);
		}
	}
	// .about__text
	&__text {
		max-width: toRem(513);
	}
	// .about__row
	&__row {
		display: flex;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	// .about__left
	&__left {
		flex: 0 1 46.5%;
		display: flex;
		@media (max-width: $tablet) {
			margin-bottom: toRem(25);
		}
	}
	&__right {
		flex-grow: 1;
	}
	// .about__items
	&__items {
		width: 100%;
		// .about__items--left
		&--left {
			display: flex;
			@media (max-width: $tablet) {
				justify-content: space-between;
				column-gap: toRem(22);
			}
			@media (max-width: toRem(600)) {
				flex-direction: column;
			}
		}
		// .about__items--right
		&--right {
			display: flex;
			justify-content: space-between;
			column-gap: toRem(22);
			align-items: end;
			text-align: right;
			@media (max-width: toRem(600)) {
				flex-direction: column;
				align-items: normal;
			}
		}
	}
	// .about__item
	&__item {
		// .about__item--left
		&--left {
			flex: 0 1 50%;
			@media (max-width: toRem(600)) {
				flex: 0 1 100%;
				&:not(:last-child) {
					margin-bottom: toRem(20);
				}
			}
		}
		&--right {
			flex: 0 1 39.68%;
			@media (max-width: $tablet) {
				flex: 0 1 50%;
			}
			@media (max-width: toRem(600)) {
				flex: 0 1 100%;
				&:not(:last-child) {
					margin-bottom: toRem(20);
				}
			}
		}
		// .about__item--btn
		&--btn {
			flex-grow: 1;
			@media (max-width: toRem(600)) {
				text-align: center;
			}
		}
	}
	// .about__image-ibg
	&__image-ibg {
		img {
			width: 100%;
		}
		// .about__image-ibg--left
		&--left {
			padding-bottom: 166.8%; /* 442/242 */
			margin-right: toRem(23);
			@media (max-width: $tablet) {
				margin-right: 0;
			}
		}
		// .about__image-ibg--right
		&--right {
			border-radius: 0 toRem(50) 0 0;
			padding-bottom: 100%; /* 242/242 */
			overflow: hidden;
			@media (max-width: toRem(600)) {
				border-radius: 0;
				margin-bottom: toRem(20);
			}
		}
	}
	// .about__statistics
	&__statistics {
		display: flex;
		height: 45.25%;
		align-items: center;
		justify-content: space-evenly;
		@media (max-width: $tablet) {
			margin-top: toRem(35);
			// padding: toRem(25) toRem(0);
		}
		@media (max-width: toRem(600)) {
			margin-bottom: toRem(0);
		}
	}
	// .about__item-statistics
	&__item-statistics {
		max-width: toRem(127);
	}
	// .about__value
	&__value {
		color: #6d7d7d;
		font-family: Kanit;
		@include adaptiveValue("font-size", 40, 20);
		line-height: 1.5;
	}
	// .about__name
	&__name {
		font-family: Kanit;
		@include adaptiveValue("font-size", 16, 14);
		letter-spacing: toRem(6.88);
		text-transform: uppercase;
	}
}
//==========================================================================================
//==========================================================================================

// .page__creativity
.creativity {
	@include adaptiveValue("padding-top", 50, 25);
	@include adaptiveValue("padding-bottom", 50, 25);
	background-color: #131616;
	// .creativity__container
	&__container {
	}
	// .creativity__inner
	&__inner {
		border-radius: toRem(50) toRem(50) 0 toRem(50);
		// background-color: #6d7d7d;
		background-color: #282c2c;
		display: flex;
		align-items: center;
		overflow: hidden;
		column-gap: toRem(42);
		@media (max-width: $mobile) {
			flex-direction: column;
			padding-bottom: toRem(20);
		}
	}
	// .creativity__image
	&__image {
		img {
			max-width: 100%;
			object-fit: cover;
		}
		@media (max-width: $mobile) {
			max-width: 100%;
			margin-bottom: toRem(15);
			img {
				max-width: 100%;
				width: toRem(724);
			}
		}
	}
	// .creativity__content
	&__content {
		flex: 0 1 45.5%;
		// max-width: toRem(519);
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		@media (max-width: $mobile) {
			padding: toRem(20) 0;
			@include adaptiveValue("padding-left", 40, 20, 0, 480, 320);
			@include adaptiveValue("padding-right", 40, 20, 0, 480, 320);
		}
	}
	// .creativity__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(29);
		}
		@media (max-width: $mobile) {
			margin-bottom: toRem(45);
		}
	}
	// .creativity__buttons
	&__buttons {
	}
	// .creativity__link
	&__link {
		padding: toRem(8) toRem(52);
		@media (max-width: $mobileSmall) {
			@include adaptiveValue("padding-left", 52, 20);
			@include adaptiveValue("padding-right", 52, 20);
		}
	}
}
//=========================================================================================
//=========================================================================================
.page__team .team {
	@include adaptiveValue("padding-top", 50, 25);
	padding-bottom: toRem(25);
	background-color: #131616;
	// .team__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(25);
		@media (max-width: toRem(1100)) {
			gap: toRem(20);
		}
		@media (max-width: $tablet) {
			grid-template-columns: auto;
			row-gap: toRem(35);
		}
	}
	// .team__body
	&__body {
	}
	// .team__team-members
	&__team-members {
	}
}

.body-team {
	max-width: toRem(440);
	// .body-team__subtitle
	&__subtitle {
		text-align: left;
		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(10);
		}
	}
	// .body-team__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 27, 15);
		}
	}
	// .body-team__text
	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 74, 25);
		}
	}
	// .body-team__avatars
	&__avatars {
		display: flex;
		margin-bottom: toRem(19);
	}
	// .body-team__avatar
	&__avatar {
		width: toRem(55);
		height: toRem(55);
		flex-shrink: 0;
		border-radius: toRem(55);
		border: 3px solid #121616;
		overflow: hidden;
		img {
			width: toRem(55);
			height: toRem(55);
			object-fit: cover;
		}
		&:not(:first-child) {
			margin-left: toRem(-13);
		}
	}
	// .body-team__rating
	&__rating {
	}
	// .team__trust
	&__trust {
		text-align: left;
	}
}

.rating {
	display: flex;
	align-items: flex-end;
	font-size: toRem(22);
	line-height: 0.75;
	transition: opacity 0.3s ease 0s;
	margin-bottom: toRem(11);
	// .rating__body
	&__body {
		position: relative;
		&::before {
			content: "★★★★★";
			display: block;
		}
	}
	// .rating__active
	&__active {
		position: absolute;
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		&::before {
			content: "★★★★★";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			// color: #ffd300;
			color: #ffb238;
		}
	}
	// .rating__items
	&__items {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .rating__item
	&__item {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0; /*убираем радиоточки*/
	}
	// .rating__values
	&__values {
		display: flex;
		align-items: center;
		font-family: Nunito;
		font-size: toRem(16);
		line-height: 1;
		margin-left: toRem(5);
	}
	// .rating__value
	&__value {
		font-family: Nunito;
		font-size: toRem(16);
		line-height: 1;
		padding: 0 toRem(10) 0 0;
	}
}

.team-members {
	// .team-members__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(22);
		@media (max-width: $mobile) {
			grid-template-columns: auto;
		}
	}
	// .team-members__item
	&__item {
		// .team-members__item--info
		&--info {
			display: flex;
			align-items: center;
			width: 100%;
		}
		align-items: center;
		&:last-child {
			.team-members__image {
				border-radius: 0 0 toRem(50) 0;
				overflow: hidden;
			}
		}
	}
	// .team-members__button
	&__buttons {
		@media (max-width: $mobile) {
			margin-bottom: toRem(20);
			display: flex;
			margin: 0 auto;
		}
	}
	// .team-members__link
	&__link {
		padding: toRem(8) toRem(29);
		@include adaptiveValue("padding-left", 29, 15, 1, 1140, 992);
		@include adaptiveValue("padding-right", 29, 15, 1, 1140, 992);
		flex: 0 0 auto; // чтобы текст в кнопке не складывался
	}
}

// Увеличение картинки и всплывающий сонтент
.card {
	overflow: hidden;
	transition: all 0.3s ease;
	position: relative;
	// .card--small
	&:last-child {
		border-radius: 0 0 toRem(50) 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.3s ease;
	}
	&:hover {
		& img {
			transform: scale(1.03);
		}
	}
	&:hover .card__content {
		position: absolute;
		bottom: 0;
		/* opacity: 1; */
		display: block;
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		/* bottom: 0; right: 0; */
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
		z-index: 20;
		display: none;
	}
	&:hover::after {
		display: block;
		// left: 0;
	}
	// .card__content
	&__content {
		font-family: Nunito;
		/* opacity: 0; */
		display: none;
		transition: all 0.5s ease;
		line-height: 1.125;
		padding: 1.25rem;
		z-index: 30;
	}
	// .card__name
	&__name {
		font-size: toRem(20);
		margin-bottom: toRem(5);
	}
	// .card__specialist
	&__specialist {
	}
}
//=========================================================================================
//=========================================================================================
// .page__clients
.clients {
	@include adaptiveValue("padding-top", 50, 25);
	@include adaptiveValue("padding-bottom", 50, 25);
	background-color: #131616;
	// .clients__container
	&__container {
	}
	// .clients__items
	&__items {
		display: flex;
		gap: toRem(40);
		column-gap: toRem(40);
		row-gap: toRem(25);
		flex-wrap: wrap;
		justify-content: space-around;
		img {
			max-width: 100%;
		}
	}
	// .clients__item
	&__item {
	}
}
//=========================================================================================
//=========================================================================================
// .page__design
.design {
	@include adaptiveValue("padding-top", 100, 30);
	@include adaptiveValue("padding-bottom", 50, 25);
	// .design__container
	&__container {
	}
	// .design__item
	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(25);
		align-items: center;
		@media (max-width: toRem(1100)) {
			gap: toRem(20);
		}
		@media (max-width: $mobile) {
			grid-template-columns: auto;
			row-gap: toRem(20);
		}
		@include adaptiveValue("padding-bottom", 65, 25);
	}
	// .design__name
	&__name {
		font-family: Kanit;
		@include adaptiveValue("font-size", 40, 30);
		@media (max-width: $mobile) {
			@include adaptiveValue("padding-left", 30, 0);
		}
	}
	// .design__body
	&__body {
		@include adaptiveValue("padding-left", 150, 30, 0, 1140, 768);
		@media (max-width: $mobile) {
			@include adaptiveValue("padding-left", 30, 0);
		}
	}
	// .design__text
	&__text {
		&:not(:last-child) {
			margin-bottom: toRem(22);
		}
	}
	// .design__link
	&__link {
		font-family: Kanit;
		letter-spacing: toRem(6.88);
		text-transform: uppercase;
		background: url("@img/blog/arrow-right.svg") right center no-repeat;
		padding-right: toRem(16);
		padding-bottom: toRem(1);
		transition: color 0.3s ease;
		&:hover {
			color: rgba(255, 255, 255, 0.7);
		}
	}
}
//=========================================================================================
//=========================================================================================
// .page__gallery
.gallery {
	@include adaptiveValue("padding-top", 50, 25);
	@include adaptiveValue("padding-bottom", 50, 25);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	@media (max-width: $tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: $mobile) {
		// grid-template-columns: auto;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
	}
	// .gallery__image
	&__image {
		img {
			max-width: 100%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: $mobile) {
			padding: 0 toRem(15);
		}
	}
}

//=========================================================================================
//=========================================================================================
// .page__blog
.blog {
	@include adaptiveValue("padding-top", 50, 25);
	padding-bottom: toRem(25);
	// background-color: #d7d7d7;
	// .blog__container
	&__container {
	}
	// .blog__subtitle
	&__subtitle {
	}
	// .blog__title
	&__title {
		text-align: center;
		line-height: 1.5;
		@include adaptiveValue("margin-bottom", 35, 20);
	}
	// .blog__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: toRem(25);
		@media (max-width: toRem(1100)) {
			gap: toRem(20);
		}
		@media (max-width: $mobile) {
			grid-template-columns: auto;
			row-gap: toRem(35);
		}
		@include adaptiveValue("padding-bottom", 65, 25);
	}
	// .blog__item
	&__item {
	}
}

.item-blog {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// .item-blog__header
	&__header {
		position: relative;
	}
	// .item-blog__image
	&__image {
		display: block;
		position: relative;
		padding-bottom: 73.829201%; /* 268/363 */
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: all 0.3s eaz;
			&:hover {
				transform: scale(1.02);
			}
		}
	}
	// .item-blog__body
	&__body {
		padding: toRem(35) toRem(18);
		@media (max-width: toRem(1100)) {
			padding: toRem(25) toRem(15);
		}
	}
	// .item-blog__link-title
	&__link-title {
	}
	// .item-blog__text
	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 25);
		}
	}
	// .item-blog__link
	&__link {
		font-family: Kanit;
		letter-spacing: toRem(6.88);
		text-transform: uppercase;
		background: url("@img/blog/arrow-right.svg") right center no-repeat;
		padding-right: toRem(16);
		padding-bottom: toRem(1);
		transition: color 0.3s ease;
		&:hover {
			color: rgba(255, 255, 255, 0.65);
		}
	}
}
//=========================================================================================
//=========================================================================================
// .page__newsletter
.newsletter {
	@include adaptiveValue("padding-top", 75, 25);
	@include adaptiveValue("padding-bottom", 75, 25);
	// .newsletter__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(30);
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: toRem(20);
		}
	}
	// .newsletter__title
	&__title {
	}
	// .newsletter__subscribe
	&__subscribe {
		flex: 0 1 toRem(765);
		max-width: toRem(765);
		@media (max-width: $mobile) {
			flex: 0 1 auto;
			width: 100%;
		}
	}
}

.subscribe {
	display: flex;
	padding: toRem(7) 0;
	gap: toRem(20);
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}
	// .subscribe__input
	&__input {
		font-family: Nunito;
		max-width: toRem(522);
		width: 100%;
		height: toRem(39);
		border-bottom: toRem(1) solid #6d7d7d;
		padding: 0 toRem(24);
		color: #fff;
		background-color: transparent;
		&::placeholder {
			color: #fff;
		}
	}
	// .subscribe__button
	&__button {
		padding: toRem(7) toRem(47);
		@include adaptiveValue("padding-left", 47, 20);
		@include adaptiveValue("padding-right", 47, 20);
	}
}
//=========================================================================================
//=========================================================================================
